@import "style"

.cmd, .terminal, .terminal *
    color: $color-text
    background-color: $color-background
    font-size: $font-size-term
    line-height: $line-height-term
    font-family: $font-family-term
    font-weight: 400
