<script>

var prompt = '<%= (theme.customize.prompt) ? theme.customize.prompt : "$> "; %>'
var greetings = "<%= (theme.customize.greetings)? theme.customize.greetings : 'Welcome! Type \"help\" or \"h\" for help.;' %>"

var terminal_settings = {
    prompt: prompt,
    greetings: function() {
        this.echo(greetings);
    }
};

var commands = {
    'help': [help_cmd, "help message"],
    'h': [help_cmd, "help message"],
    'normal': [normal_cmd, 'Mayday! Mayday! I am no geek, get me out! I want normal blog entrence!'],
    'n': [normal_cmd, 'alias to normal'],
    'posts': [posts_cmd, 'read posts'],
    'p': [posts_cmd, 'alias to posts'],
};

<% if (theme.customize.about.enable) { %>
    // add about command
    commands["<%= theme.customize.about.command%>"] = [about_cmd, "<%= theme.customize.about.command_help%>"];
<% } %>

class Posts {
    constructor() {
        this.posts = null;
        this.post_list = '';
    }
    
    setup_post() {
        return json_api
            .posts()
            .then((response) => {
                this.posts = response;
                this.post_list = '';
                var data = response.data.data;

                for (var each in data) {
                    var path = data[each].date.split('T')[0].replace(/-/g, '/');
                    path += '/' + data[each].path.substr(data[each].path.lastIndexOf('/') + 1).replace('.json', '');
                    this.post_list += '<div class="content"><a href="{}">'.replace('{}', path) + data[each].title + '</a></div>\n';
                }
            });
    }

    get_post() {
        if (this.posts !== null) {
            return new Promise((resolve, reject) => {
                resolve(this.posts);
            });
        }
        return this.setup_post().then(() => this.posts);
    }

    get_post_list() {
        if (this.posts !== null) {
            return new Promise((resolve, reject) => {
                resolve(this.post_list);
            });
        }

        return this.setup_post().then(() => this.post_list);
    }

    get_post(arg) {
        var prom = null;
        if (this.posts !== null) {
            prom = new Promise((resolve, reject) => resolve(this.posts));
        } else {
            prom = this.setup_post().then(() => this.posts);
        }

        return prom.then((posts) => {

            if (!/\D/.test(arg)) {
                // number
                return json_api
                    .post(arg, posts);
            } else {
                // title
                var num = -1;
                var data = posts.data.data;
                for (var each in data) {
                    if (data[each].title === arg) {
                        num = each;
                    }
                }
    
                if (num === -1) {
                    this.echo('Sorry, post not found\n');
                } else {
                    return json_api
                        .post(num, posts);
                }
            }
        });
    }
}

var posts = new Posts();

function help_message() {
    var msg = 'Available commands:\n';
    for (var cmd in commands) {
        var cmd_help = commands[cmd][1];
        msg += '\t' + cmd + '\t-\t' + cmd_help + '\n';
    }
    msg += '\nEnjoy!\n';
    return msg;
}

/* commands */

function help_cmd() {
    this.echo(help_message());
}

function command_not_found() {
    this.echo("no such command, type \"help\" or \"h\" for help");
}

function about_cmd() {
    json_api.about()
        .then((response) => {
            var content = '<div class="content">' + response.data.content + '</div>';
            this.echo(content, {raw: true});
        });
}

function normal_cmd() {
    util_navigate_archive();
}

function posts_cmd(subcommand, arg) {


    var subcommand_help = () => {
        var help_msg = 'Posts related commands, available subcommands:\n';
        for (var cmd in subcommands) {
            help_msg += '\t' + cmd + '\t-\t' + subcommands[cmd][1] + '\n';
        }
        help_msg += '\n';
        this.echo(help_msg);
    }

    var subcommand_list = () => {
        posts.get_post_list()
            .then((list) => {
                this.echo(list, {raw: true});
            });
    }

    var subcommand_read = (arg) => {
        if (typeof arg === 'undefined') {
            this.echo('read needs an argument\n');
            return;
        }

        posts.get_post(arg)
            .then((content) => util_print_post(content.data.content, this))
            .catch(() => util_print_post_error(this));
    }

    var subcommands = {
        'help': [subcommand_help, 'print help message'],
        'list': [subcommand_list, 'list post titles'],
        //'read': [subcommand_read, 'read [title | post_num]'],
    }

    if (!subcommand || !subcommands[subcommand]) {
        subcommand_help();
        return;
    }

    subcommands[subcommand][0](arg);
}

function terminal_commands() {
    var terminal_cmds = [];

    for (var cmd in commands) {
        terminal_cmds.push({
            [cmd]: commands[cmd][0]
        });
    }
    terminal_cmds.push(command_not_found);

    console.log(terminal_cmds);

    return terminal_cmds;
}

$(document).ready(
    function() {
        $('body').terminal(terminal_commands(), terminal_settings)
    }
);

</script>
